
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.2
  creationTimestamp: null
  name: managedclusters.azure.jpang.dev
spec:
  additionalPrinterColumns:
  - JSONPath: .status.fqdn
    description: API endpoint FQDN
    name: FQDN
    type: string
  - JSONPath: .status.state
    description: Provisioning state of the cluster resource
    name: State
    type: string
  group: azure.jpang.dev
  names:
    kind: ManagedCluster
    listKind: ManagedClusterList
    plural: managedclusters
    shortNames:
    - mc
    singular: managedcluster
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: ManagedCluster is the Schema for the managedclusters API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ManagedClusterSpec defines the desired state of ManagedCluster
          properties:
            authorizedIPRanges:
              description: AuthorizedIPRanges gives a list of CIDR addresses that
                should be whitelisted.
              items:
                type: string
              type: array
            credentialsRef:
              description: CredentialsRef is a reference to the azure kubernetes cluster
                credentials.
              properties:
                name:
                  description: Name is unique within a namespace to reference a secret
                    resource.
                  type: string
                namespace:
                  description: Namespace defines the space within which the secret
                    name must be unique.
                  type: string
              type: object
            location:
              description: Location is the region where the azure resource resides.
              type: string
            name:
              description: Name defines the name of the azure kubernetes cluster resource.
              type: string
            nodePools:
              description: NodePools defines the node pools in a azure kubernetes
                cluster resource.
              items:
                description: NodePool defines a node pool for an azure cluster resource.
                properties:
                  capacity:
                    description: Capacity is the number of VMs in a node pool.
                    format: int32
                    type: integer
                  name:
                    description: Name of the node pool.
                    type: string
                  nodePoolType:
                    description: AgentPoolType sets what kind of agent pool is used
                      for this node pool (e.g. "VirtualMachineScaleSets").
                    type: string
                  sku:
                    description: SKU of the VMs in the node pool.
                    type: string
                type: object
              type: array
            resourceGroup:
              description: ResourceGroup is the resource group name for an azure resource.
              pattern: ^[-\w\._\(\)]+$
              type: string
            subscriptionID:
              description: SubscriptionID is the subscription id for an azure resource.
              pattern: ^[0-9A-Fa-f]{8}(?:-[0-9A-Fa-f]{4}){3}-[0-9A-Fa-f]{12}$
              type: string
            version:
              description: Version defines the kubernetes version of the cluster.
              type: string
          required:
          - nodePools
          type: object
        status:
          description: ManagedClusterStatus defines the observed state of ManagedCluster
          properties:
            fqdn:
              description: FQDN represents the cluster api server endpoint.
              type: string
            id:
              description: ID represents the cluster resource id.
              type: string
            state:
              description: State represents the provisioning state of the cluster
                resource.
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
